body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.chat-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.chat-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.chat-body {
  height: 385px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.user-message {
  background-color: #007bff;
  color: #fff;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

.bot-message {
  background-color: #f4f4f4;
  color: #333;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

.chat-input {
  display: flex;
  margin-top: 10px;
}

.chat-input input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-input button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.plain-text {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

#owl-image {
  position: absolute;
  top: 0;
  left: 15%;
  transform: translateX(250%);
  opacity: 0;
  transition: opacity 1s ease-in-out, left 1s ease-in-out;
  max-width: 200px;
  max-height: 200px;
}

#owl-image.fade-in {
  opacity: 1;
}

#owl-image.slide-left {
  left: 20px;
}

#intro-text {
  position: absolute;
  top: 10px;
  left: 725px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  font-size: 18px;
  font-weight: bold;
}

#intro-text.fade-in {
  opacity: 1;
}

.intro-rectangle {
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  border-radius: 20px;
  width: 385px;
  height: 145px;
}